@import "extend/_header";
@import "extend/_footer";
@import "extend/_messages";
@import "extend/_product-tabs";

@link__color: @color-orange-red1;
@link__hover__color: @color-red9;
@link__visited__color: @color-orange-red1;
