@import "extend/_header.less";
@import "extend/_footer.less";
@import "extend/_messages.less";
@import "extend/_product-tabs.less";

@link__color: @color-orange-red1;
@link__hover__color: @color-red9;
@link__visited__color: @color-orange-red1;
